<h1 class="text-3xl text-center text-blue-800 font-bold">
  {{ message }}
</h1>

<form
  class="bg-white lg:w-[50%] sm:w-auto h-auto flex flex-col justify-start items-center px-8 py-6 border rounded-lg shadow-md "
  (ngSubmit)="onFormSubmit($event)"
  [formGroup]="pdfFormData"
>
  <mat-form-field class="w-[100%]" >
    <mat-label>First name</mat-label>
    <input matInput formControlName="fastName" />
  </mat-form-field>

  <mat-form-field class="w-[100%]">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" />
  </mat-form-field>
    <mat-form-field class="w-[100%]">
      <mat-label> Phone number </mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>
    <mat-form-field class="w-[100%]">
      <mat-label> E-mail </mat-label>
      <input type="email" matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field class="w-[100%]">
      <mat-label> Present Address </mat-label>
      <textarea
        matInput
        placeholder="Enter your present Address"
        formControlName="presentAddress"
      >
Ex: Dhaka Bangladesh</textarea
      >
    </mat-form-field>
  
    <mat-form-field class="w-[100%]">
      <mat-label> Permanent Address </mat-label>
      <textarea
        matInput
        placeholder="Enter your present Address"
        formControlName="permanentAddress"
        ng-disabled="isPermanentAddressDisabled"
        (click)="enablePermanentAddress()"
      >
Ex: Dhaka Bangladesh</textarea
      >
    </mat-form-field>

  <ion-button type="submit">Download pdf</ion-button>
</form>
